# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [16]:
#Assignment 1: Creating and Accessing Tuples
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("Tuple:", tuple1)

Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
#Assignment 2: Accessing Tuple Elements
first = tuple1[0]
middle = tuple1[len(tuple1)//2]
last = tuple1[-1]
print("First:", first, "Middle:", middle, "Last:", last)

First: 1 Middle: 6 Last: 10

In [14]:
#Assignment 3: Tuple Slicing
print("First 3 elements:", tuple1[:3])
print("Last 3 elements:", tuple1[-3:])
print("Elements from index 2 to 5:", tuple1[2:6])

First 3 elements: (1, 2, 3)
Last 3 elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

In [13]:
#Assignment 4: Nested Tuples
matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print("Matrix:", matrix)
print("Element at second row, third column:", matrix[1][2])

Matrix: ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Element at second row, third column: 6

In [12]:
#Assignment 5: Tuple Concatenation
tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6)
concatenated = tuple_a + tuple_b
print("Concatenated Tuple:", concatenated)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [11]:
#Assignment 6: Tuple Methods
dup_tuple = (1, 2, 2, 3, 3, 3, 4)
print("Count of 3:", dup_tuple.count(3))
print("Index of first 3:", dup_tuple.index(3))

Count of 3: 3
Index of first 3: 3

In [10]:
#Assignment 7: Unpacking Tuples
tuple5 = (10, 20, 30, 40, 50)
a, b, c, d, e = tuple5
print("Unpacked variables:", a, b, c, d, e)

Unpacked variables: 10 20 30 40 50

In [9]:
#Assignment 8: Tuple Conversion
list_nums = [1, 2, 3, 4, 5]
tuple_from_list = tuple(list_nums)
print("Tuple from list:", tuple_from_list)

Tuple from list: (1, 2, 3, 4, 5)

In [8]:
#Assignment 9: Tuple of Tuples
tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print("Tuple of Tuples:", tuple_of_tuples)

Tuple of Tuples: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [7]:
#Assignment 10: Tuple and List
tuple5 = (1, 2, 3, 4, 5)
temp_list = list(tuple5)
temp_list.append(6)
tuple_back = tuple(temp_list)
print("After appending 6:", tuple_back)

After appending 6: (1, 2, 3, 4, 5, 6)

In [6]:
#Assignment 11: Tuple and String
my_string = "hello"
tuple_chars = tuple(my_string)
joined_string = "".join(tuple_chars)
print("Joined string from tuple:", joined_string)

Joined string from tuple: hello

In [5]:
#Assignment 12: Tuple and Dictionary
tuple_dict = {("a", 1): 10, ("b", 2): 20, ("c", 3): 30}
print("Dictionary with tuple keys:", tuple_dict)

Dictionary with tuple keys: {('a', 1): 10, ('b', 2): 20, ('c', 3): 30}

In [4]:
#Assignment 13: Nested Tuple Iteration
nested_tuple = ((1, 2), (3, 4), (5, 6))
print("Nested Tuple Iteration:")
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
print()

Nested Tuple Iteration:
1 2 3 4 5 6

In [3]:
#Assignment 14: Tuple and Set
dup_tuple2 = (1, 2, 2, 3, 3, 4)
unique_set = set(dup_tuple2)
print("Set without duplicates:", unique_set)

Set without duplicates: {1, 2, 3, 4}

In [2]:
#Assignment 15: Tuple Functions
def tuple_min_max_sum(t):
    return min(t), max(t), sum(t)

sample_tuple = (5, 10, 15, 20)
min_val, max_val, sum_val = tuple_min_max_sum(sample_tuple)
print(f"For {sample_tuple} -> Min: {min_val}, Max: {max_val}, Sum: {sum_val}")

For (5, 10, 15, 20) -> Min: 5, Max: 20, Sum: 50