# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
#Assignment 1: Creating and Accessing Sets
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("Set:", set1)

Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
#Assignment 2: Adding and Removing Elements
set1.add(11)
set1.remove(1)
print("Modified Set:", set1)

Modified Set: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
#Assignment 3: Set Operations
set_a = {1, 2, 3, 4, 5}
set_b = {2, 4, 6, 8, 10}
print("Union:", set_a | set_b)
print("Intersection:", set_a & set_b)
print("Difference (A - B):", set_a - set_b)
print("Symmetric Difference:", set_a ^ set_b)

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (A - B): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [5]:
#Assignment 4: Set Comprehensions
squares_set = {x**2 for x in range(1, 11)}
print("Squares of first 10 positive integers:", squares_set)

Squares of first 10 positive integers: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [6]:
#Assignment 5: Filtering Sets
even_numbers_set = {x for x in set1 if x % 2 == 0}
print("Even numbers from set1:", even_numbers_set)

Even numbers from set1: {2, 4, 6, 8, 10}

In [7]:
#Assignment 6: Set Methods
dup_list = [1, 2, 2, 3, 3, 3, 4]
dup_set = set(dup_list)  # removes duplicates automatically
print("Set without duplicates:", dup_set)

Set without duplicates: {1, 2, 3, 4}

In [8]:
#Assignment 7: Subsets and Supersets
set_main = {1, 2, 3, 4, 5}
set_sub = {1, 2, 3}
print("Is subset?", set_sub.issubset(set_main))
print("Is superset?", set_main.issuperset(set_sub))

Is subset? True
Is superset? True

In [9]:
#Assignment 8: Frozenset
frozen = frozenset({1, 2, 3, 4, 5})
print("Frozenset:", frozen)

Frozenset: frozenset({1, 2, 3, 4, 5})

In [10]:
#Assignment 9: Set and List Conversion
set5 = {1, 2, 3, 4, 5}
temp_list = list(set5)
temp_list.append(6)
converted_back = set(temp_list)
print("After appending 6:", converted_back)

After appending 6: {1, 2, 3, 4, 5, 6}

In [11]:
#Assignment 10: Set and Dictionary
dict_with_set_keys = {frozenset({1, 2}): 10, frozenset({3, 4}): 20}
print("Dictionary with frozenset keys:", dict_with_set_keys)

Dictionary with frozenset keys: {frozenset({1, 2}): 10, frozenset({3, 4}): 20}

In [12]:
#Assignment 11: Iterating Over Sets
iterate_set = {10, 20, 30, 40}
print("Iterating over set:")
for element in iterate_set:
    print(element)

Iterating over set:
40
10
20
30

In [13]:
#Assignment 12: Removing Elements from Sets
remove_set = {1, 2, 3, 4}
while remove_set:
    remove_set.pop()
    print("After removal:", remove_set)

After removal: {2, 3, 4}
After removal: {3, 4}
After removal: {4}
After removal: set()

In [14]:
#Assignment 13: Set Symmetric Difference Update
sym_a = {1, 2, 3}
sym_b = {3, 4, 5}
sym_a.symmetric_difference_update(sym_b)
print("Symmetric difference updated set:", sym_a)

Symmetric difference updated set: {1, 2, 4, 5}

In [15]:
#Assignment 14: Set Membership Testing
membership_set = {1, 2, 3, 4, 5}
print("Is 3 in set?", 3 in membership_set)
print("Is 6 in set?", 6 in membership_set)

Is 3 in set? True
Is 6 in set? False

In [16]:
#Assignment 15: Set of Tuples
tuple_set = {(1, 'a'), (2, 'b'), (3, 'c')}
print("Set of tuples:", tuple_set)

Set of tuples: {(1, 'a'), (2, 'b'), (3, 'c')}