# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [ ]:
#Assignment 1: Creating and Accessing Lists
numbers = list(range(1, 21))
print("First 20 positive integers:", numbers)

First 20 positive integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#Assignment 2: Accessing List Elements
first = numbers[0]
middle = numbers[len(numbers)//2]   # middle element
last = numbers[-1]

print("First element:", first)
print("Middle element:", middle)
print("Last element:", last)

First element: 1
Middle element: 11
Last element: 20

In [ ]:
#Assignment 3:List Slicing
print("First 5 elements:", numbers[:5])
print("Last 5 elements:", numbers[-5:])
print("Elements from index 5 to 15:", numbers[5:16])

First 5 elements: [1, 2, 3, 4, 5]
Last 5 elements: [16, 17, 18, 19, 20]
Elements from index 5 to 15: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
#Assignment 4:List Comprehensions
squares = [x**2 for x in range(1, 11)]
print("Squares of first 10 integers:", squares)

Squares of first 10 integers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Assignment 5: Filtering Lists
even_numbers = [x for x in numbers if x % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Assignment 6:List Methods
random_numbers = [5, 3, 8, 5, 2, 8, 9, 1, 3]
print("Original random list:", random_numbers)

# Sort ascending
random_numbers.sort()
print("Sorted ascending:", random_numbers)

# Sort descending
random_numbers.sort(reverse=True)
print("Sorted descending:", random_numbers)

# Remove duplicates
unique_numbers = list(set(random_numbers))
print("After removing duplicates:", unique_numbers)

Original random list: [5, 3, 8, 5, 2, 8, 9, 1, 3]
Sorted ascending: [1, 2, 3, 3, 5, 5, 8, 8, 9]
Sorted descending: [9, 8, 8, 5, 5, 3, 3, 2, 1]
After removing duplicates: [1, 2, 3, 5, 8, 9]

In [ ]:
#Assignment 7:Nested Lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Matrix:")
for row in matrix:
    print(row)

print("Element at 2nd row, 3rd column:", matrix[1][2])

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at 2nd row, 3rd column: 6

In [ ]:
#Assignment 8:
students = [
    {"name": "Alice", "score": 85},
    {"name": "Bob", "score": 92},
    {"name": "Charlie", "score": 78}
]

sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Students sorted by score (desc):", sorted_students)

Students sorted by score (desc): [{'name': 'Bob', 'score': 92}, {'name': 'Alice', 'score': 85}, {'name': 'Charlie', 'score': 78}]

In [ ]:
#Assignment 9:Matrix Transposition
def transpose(matrix):
    return [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

original_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed_matrix = transpose(original_matrix)

print("Original matrix:", original_matrix)
print("Transposed matrix:", transposed_matrix)

Original matrix: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#Assignment 10:Flattening a Nested List
def flatten(nested_list):
    return [item for sublist in nested_list for item in sublist]

nested = [[1, 2], [3, 4], [5, 6]]
flat = flatten(nested)

print("Original nested list:", nested)
print("Flattened list:", flat)

Original nested list: [[1, 2], [3, 4], [5, 6]]
Flattened list: [1, 2, 3, 4, 5, 6]

In [ ]:
#Assignment 11:List Manipulation
nums = list(range(1, 11))  # [1,2,3,4,5,6,7,8,9,10]
print("Original list:", nums)

# Remove indices 2, 4, 6 â†’ remove from highest to lowest to avoid shifting
for idx in sorted([2, 4, 6], reverse=True):
    nums.pop(idx)

# Insert 99 at index 5
nums.insert(5, 99)

print("Modified list:", nums)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

In [ ]:
#Assignment 12
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']

zipped_list = list(zip(list1, list2))
print("Zipped list:", zipped_list)

Zipped list: [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
#Assignment 13:
def reverse_list(lst):
    return lst[::-1]

original_list = [10, 20, 30, 40, 50]
reversed_list = reverse_list(original_list)

print("Original list:", original_list)
print("Reversed list:", reversed_list)

Original list: [10, 20, 30, 40, 50]
Reversed list: [50, 40, 30, 20, 10]

In [ ]:
#Assignment 14: List Rotation
def rotate_list(lst, n):
    n = n % len(lst)  # handle n > len(lst)
    return lst[-n:] + lst[:-n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)

print("Original list:", original_list)
print("List rotated by 2 positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
List rotated by 2 positions: [4, 5, 1, 2, 3]

In [ ]:
#Assignment 15:List Intersection
def list_intersection(list1, list2):
    return [x for x in list1 if x in list2]

a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

intersection = list_intersection(a, b)
print("List A:", a)
print("List B:", b)
print("Intersection:", intersection)

List A: [1, 2, 3, 4, 5]
List B: [4, 5, 6, 7, 8]
Intersection: [4, 5]